@charset "UTF-8";

    *{
        font-family: Arial, Helvetica, sans-serif;
        /*height: 100%;*/
    }

    main{
        background-color: white;
        width: 650px;
        padding: 8px;
        margin: auto;
        box-shadow: 5px 5px 15px #011f26b9;
        border-radius: 20px;
    }

    h1{
        color: #03A688; 
        text-align: center;
        background-image: linear-gradient(to right, #011F26, #026873 );
        text-shadow: 1px 1px 2px #01816aa6;
    }

    h2{
        color: #025E73;
    }

    body{
        background-image: linear-gradient(to right, #011F26, #026873);
    }

    p{
        text-align: justify;
    }